*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    padding: 20px;
    background:linear-gradient(black, rgb(66, 66, 163));
    color: white;
    background-repeat: no-repeat;
    font-family: poppins; 
}

header{
    height: 70px;
    
}

header h1{
    padding-bottom: 10px;
}

section{
    padding: 12px;
}

.introducao{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.sobre-mim{
    border-radius: 8px;
    box-shadow: 0 0 2px #ffff;
    background-color: black;
    width: 50%;
    height: 200px;
    padding: 8px;
}

.divisao-tecnologias{
    width: 50%;
    display: grid;
}

.tecnologias{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 8px;
    gap: 12px;
}


.cards-habilidades{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    height: 100%;
}

.card-habilidade{
    height: 100%;
    width: 25%;
    border-radius: 8px;
    padding: 12px;
    height: 200px;
    background-color: darkgrey;
    color: black
}

.tecnologia{
    display: flex;
    align-items: center;
}

.tecnologia img{
    width: 50px;
    height: 50px;
}

.cards-projetos{
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
}

.card-projeto{
    border-radius: 8px;
    width: 30%;
    height: 100%;
    padding: 12px;
    background-color: black;
    box-shadow: 0 0 2px #ffff;
    height: 450px;
}

.card-projeto p{
    font-size: 12px;
}

.card-projeto span{
    font-size: 14px;
    font-weight: 600;
}

.card-projeto ul{
    padding-left: 24px;
}

.card-projeto li{
    font-size: 12px;
}

.imagem-projeto{
    height: 40%;
    width: 75%;
    background-color: tomato;
    border-radius: 4px;
    justify-self: center;
    margin: 8px;
}

.ferramentas{
    padding-top: 8px;
}

.formacoes{
    padding-top: 12px;
}

.lista-formacoes{
    padding: 12px;
}

ul{
    gap: 8px;
}


footer{
    margin-top: 20px;
}

.contatos{
    padding: 12px;
}

.contato{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contato img{
    width: 25px;
    height: 25px;
}

a{
    color: black;
}