*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 20px;
    background:linear-gradient(black, rgb(66, 66, 163));
    color: white;
    background-repeat: no-repeat; 
}

header{
    height: 70px;
    
}

header h1{
    padding-bottom: 10px;
}

.introducao{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.sobre-mim{
    border-radius: 8px;
    box-shadow: 0 0 2px #ffff;
    background-color: black;
    width: 50%;
    height: 200px;
    padding: 8px;
}

.divisao-tecnologias{
    width: 50%;
    display: grid;
}

.tecnologias{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 8px;
    gap: 12px;
}

.habilidades{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    height: 100px;
}




.tecnologia img{
    width: 100px;
    height: 100px;
}
