*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 20px;
    background:linear-gradient(black, rgb(66, 66, 163));
    color: white;

    font-family: poppins; 
}

header{
    height: 70px;
    
}

header h1{
    padding-bottom: 10px;
}

section{
    padding: 12px;
}


main{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 8px;
    gap: 12px;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.25rem;
}

p, span, li, a{
    font-size: 1.125rem;
}

.introducao{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.sobre-mim{
    border-radius: 8px;
    box-shadow: 0 0 2px #ffff;
    background-color: black;
    width: 50%;
    padding: 12px;
    padding-top: 4px;
}

.sobre-mim p{
    margin-top: 8px;
}

.divisao-tecnologias{
    width: 50%;
    display: grid;
}

.tecnologias{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.tecnologia{
    display: flex;
    align-items: center;
}

.tecnologia img{
    width: 70px;
    height: 70px;
}

    

.cards-habilidades{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    height: 100%;
    width: 100%;
    margin-top: 8px;
}

.card-habilidade{
    height: 100%;
    width: 25%;
    border-radius: 8px;
    padding: 12px;
    height: 260px;
    background-color: darkgrey;
    color: black
}


.projetos{
    display: flex;
    flex-direction: column;
}

.cards-projetos{
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
}

.card-projeto{
    border-radius: 8px;
    width: 30%;
    height: auto;
    padding: 24px;
    background-color: black;
    box-shadow: 0 0 2px #ffff;
    margin-top: 12px;
}

.card-projeto span{
    font-weight: 600;
}

.card-projeto ul{
    padding-left: 24px;
}


.imagem-projeto{
    height: 180px;
    width: 100%;
    background-color:  purple;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.ferramentas{
    margin-top: 12px;
}

.projetos button{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    height: 40px; 
    width: 160px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}
.projetos button:hover{
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 1);
}

.projetos button a{
    color: purple;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
}

.formacoes{
    margin-top: 12px;
}

.lista-formacoes{
    padding: 8px;
    margin-left: 32px;
    margin-top: 4px;
}


footer{
    margin-top: 20px;
}

.contatos{
    padding: 12px;
}

.contato{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contato img{
    width: 25px;
    height: 25px;
}

footer a{
    color: black;
}


@media(max-width: 1400px){
    
    .card-habilidade{
        width: 100%;
        height: 400px;
    }

}

@media(max-width: 1250px){

    .card-habilidade{
        width: 100%;
        height: 364px;
    }

}


@media(max-width: 1024px){
    
    .introducao{
        padding: 0px;
    }

    .sobre-mim{
        padding: 8px;
    }

    .tecnologia img{
        height: 90px;
        width: 90px;
    }


    .habilidades{
        padding: 0;
        margin-top: 24px;
    }

    .cards-habilidades{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .card-habilidade{
        width: 100%;
        height: 200px;
    }

    .projetos{
        margin-top: 24px;
    }

    .card-projeto{
        width: 40%;
    }

    
}